{% extends "main.html" %}

{% block title %}UPLOAD TEST IMAGE{% endblock title %}

{% block content %}
    
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}  
        <button type="submit">Upload</button>

        {% comment %} <div class="form-group">
            
            <label for="img-name">Name of image:</label>
            <input type="text" name="img-name" id="">
            
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

            <input type="submit" value="Upload Image"> {% endcomment %}
      </form>

        {% if img_obj %}  
            <h3>Succesfully uploaded : {{img_obj.name}}</h3> 
            <img src="{{ img_obj.imgSrc.url}}" alt="connect" style="max-height:300px">
        {% endif %}
    
{% endblock content %}
